# Node Modules  
node_modules/  

# Environment Variables  
.env  

# Logs  
*.log  
logs/  
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  

# OS-specific Files  
.DS_Store  
Thumbs.db  

# Editor/IDE-specific Files  
.vscode/  
.idea/  
*.suo  
*.ntvs*  
*.njsproj  
*.sln  

# Build Artifacts  
dist/  
build/  
coverage/  

# Temporary Files  
*.tmp  
*.swp  
*.swo  
*.swn  
*.bak  
*.seed  
*.pid  
*.seed.js  

# Docker  
docker-compose.override.yml  
*.dockerignore  

# Miscellaneous  
*.lock  
*.cache  
*.tgz  
